<section>
    <div class="content">
        <header>
            <h2>Introdução</h2>
        </header>
        <div class="row">
            <div class="col-12 col-12-medium">
                <p>Assim como o modo Maior foi extraído a partir do Jônico, o Menor será extraído do Eólio,
                    considerando a tonalidade de lá menor teríamos: lá, sí, dó, ré, mi, fá e sol, temos assim a escala a
                    Menor
                    Natural. Entretanto para termos a sétima sensível do modo maior (considerando Dó Maior: si → dó),
                    precisamos
                    elevar o sol a sol#, ficando: lá, sí, dó, ré, mi, fá e sol#, criando assim a escala Menor Harmônica.
                    Como esse
                    salto de fá para sol# é de segunda aumentada, foi criada mais uma escala, a menor Menor Melódica,
                    ficando: lá,
                    sí, dó, ré, mi, fá# e sol#.</p>
                <p>A abordagem contemporâne ainda considera mais duas escalas para formação de modos menores, sendo:
                    Dórico e
                    Frígio.Em Dórico teríamos: lá, sí, dó, ré, mi, fá# e sol e em Frígio teríamos: lá, síb, dó, ré, mi,
                    fá e sol.
                </p>
            </div>
        </div>
    </div>
</section>