<section>
  <div class="content">
    <header>
      <h2>Introdução</h2>
    </header>
    <div class="row">
      <div class="col-12 col-12-medium">
        <p>O modo Maior como conhecemos tem a mesma sequência intervalar do antigo modo Jônio, ou seja dado uma
          nota qualquer teremos o segundo intervalo maior, o terceiro maior, o quarto justo, o quinto justo, o sexto
          maior e o sétimo maior. Partindo da nota dó teriamos então: ré (segunda maior), mi (terceira maior), fá
          (quarta justa), sol (quinta justa), lá (sexta maior) e si (sétima maior).</p>
        <p>Os acordes de cada um dos graus da escala maior são constituidos por três notas, a fundamental, a terça
          (que pode ser maior ou menor) e a quinta (que pode ser justa ou diminuta). Para contemplarmos um leque maior
          abordaremos os acordes sempre acompanhados da sétima (que pode ser maior ou menor).</p>
        <p>O fato de termos terças maiores e menores, quintas justas e diminuta, e sétima maior e menor se dá pela
          distâncias dos intervalos. Se pegarmos a nota dó, sua terça estará 5 semi tons (contando o próprio dó) de
          distância dela: dó → dó# → ré → ré# → mi. Se pegarmos a nota ré teriamos: ré → ré# → mi → fá, ou seja
          um semi tom a menos que a terça de dó, portanto na tonalidade de Dó Maior, o acorde de Dó tem a terça maior
          e
          o de Ré a terça menor. O mesmo raciocínio se extende para os outros intervalos da escala.</p>
        <p>Para conseguirmos expressar a tonalidade Maior precisamos apenas de três acordes, a tônica, a subdominante
          e
          a dominante. Partindo da nota dó teríamos: Dó Maior (o acorde contem as notas dó, mi e sol), Fá Maior (o
          acorde contem as notas fá, lá e dó) e Sol Maior (o acorde contem as notas sol, si e ré). Percebemos que
          todas
          as notas da tonalidade de dó (dó, ré, mi, fá, sol, lá e si) estão contidas nesses três acordes.</p>
      </div>
    </div>
  </div>
</section>