<section>
    <div class="content">
        <header>
            <h2>Cadência</h2>
        </header>
        <div class="row">
            <div class="col-6 col-12-medium">
                <p>A cadência ou progressão de acordes é o recurso que utilizamos para determinar a tonalidade.
                    Existem alguns tipos de cadência, a perfeita, a plagal, a imperfeita, a picarda, a subdominante
                    incompleta, a
                    cadência enganosa, dentre outras. Por hora focaremos nossos esforços na cadência perfeita. A
                    cadência perfeita
                    segue a seguinte progressão: I → VI → V → I. Ou seja é um movimento partindo da tônica para
                    subdominante,
                    depois dominante e encerrando com a tônica.
                </p>
                <p>De agora em
                    diante nos referiremos aos acordes da escala maior com a numeração Romana. Levando-se em
                    consideração a
                    tonalidade de dó teremos:</p>
                <ul>
                    <li>I . tônica (Do maior)</li>
                    <li>II- . supertônica (Ré menor)</li>
                    <li>III- . mediante (Mi menor)</li>
                    <li>IV . subdominante (Fá maio)</li>
                    <li>V . dominante (Sol maior)</li>
                    <li>VI- . superdominante (Lá menor)</li>
                    <li>VII- b5 . sensível (Si menor com a quinta diminuta)</li>
                </ul>
                <p>Sobre os demais acordes (II-, III-, VI- e VII- b5) é preciso notar que os acordes III- (midiante) e
                    VI-
                    (superdominante) são funções da tônica (I), ou seja podem ser trocados pelo acorde
                    da tônica e vice versa. O acode de II- (supertônica) é função da subdominante. O de VII- b5 não é
                    uma função
                    de
                    dominante (V), mas por hora iremos trata-lo assim.</p>
            </div>
            <div class="col-6 col-12-medium">
                <table>
                    <thead>
                        <tr>
                            <td>Funções</td>
                            <td>Graus principais</td>
                            <td>Graus secundários</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tônica</td>
                            <td>I</td>
                            <td>III- e VI-</td>
                        </tr>
                        <tr>
                            <td>Subdominante</td>
                            <td>IV</td>
                            <td>II-</td>
                        </tr>
                        <tr>
                            <td>Dominante</td>
                            <td>V</td>
                            <td>VII- b5</td>
                        </tr>
                    </tbody>
                </table>
                <p>A tabela abaixo trás caminhos muito úteis e seguros para uma progressão harmônica que pretende
                    assegurar a tonalidade.
                    Tomando qualquer acorde como inicial seguimos as setas até a tensão final. Por exemplo se
                    começamos nossa cadência com o VI- grau, temos a possibilidade do IV ou II-, em seguida poderiamos
                    optar pelo
                    termino da sentença pulando para o I ou seguindo para o V ou VII- b5 e então finalizarmos a
                    sentença.
                    Ainda
                    poderiamos voltar do V ou VII- b5 para o VI novamente e começar uma nova sentença, cabe escolher o
                    que convêm.
                </p>
            </div>
        </div>
    </div>
</section>